.checkoutProduct {
  display: flex;
  margin-top: 20px;
}
.checkoutProduct__ratingActive {
  fill: orange !important;
}
.checkoutProduct__ratingTotal {
  fill: gray !important;
}
.checkoutProduct__image {
  object-fit: contain;
  width: 150px;
  height: 150px;
}
.checkoutProduct__button {
  margin-top: 20px;
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
}
.checkoutProduct__price {
  line-height: 0;
}
.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}
