.subTotal {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 130px;
  padding: 10px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
}
.subTotal__gift {
  margin-bottom: 20px;
  align-items: center;
}
.subTotal__button {
  margin-top: 20px;
  background-color: #f0c14b;
  border: 1px solid;
  height: 30px;
  border-radius: 2px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
